
body {
    margin: 0;
}

.app {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    min-height: 325px;
    opacity: 0;
}

.welcome {
    font-size: 30px;
    font-weight: 500;
}

.infoError {
    display: flex;
    font-size: 50px;
    color: red;
    align-items: center;
    justify-content: center;
    margin-top: 15px;
    font-weight: 700;
    border-radius: 7px;
    border-bottom: 4px solid red;
}

.header {
    position: relative;
    width: 85%;
    height: 135px;
    background-color: #6b068a;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px 10%;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.25);
}

.icon_home{
    text-decoration:none;
    color: white;
    font-size: 14px;
    position: absolute;
    left: 28px;
    top: 21px;
    border: 2px solid white;
    border-radius: 5px;
    padding: 5px;
}

.icon_arrow {
    text-decoration:none;
    color: white;
    font-size: 15px;
    position: absolute;
    left: 29px;
    top: 82px;;
    border: 2px solid white;
    border-radius: 5px;
    padding: 5px;
}


.icon_home:hover{
    border: 2px solid red;
}
.icon_arrow:hover{
    border: 2px solid red;
}



.main_title {
    font-size: 42px;
    text-shadow: 1px 0 1px #000,
    0 1px 1px #000,
    -1px 0 1px #000,
    0 -1px 1px #000;
}

.post_title {
    font-size: 55px;
    text-shadow: 2px 3px 1px rgba(0, 0, 0, 0.4);
    margin: 0 10px;
    color: white;
}

.contacts_form {
    margin-right: 45px;
}

.wrapper_input {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    height: 65px;
    gap: 8px;
}

.wrapper_input > label {
    font-size: 20px;
}

.header_input {
    width: 220px;
    height: 25px;
    padding: 1px 5px;
    border-radius: 4px;
    font-size: 16px;
}

.wrapper_button {
    display: flex;
    justify-content: flex-end;
    margin-top: 10px;
    gap: 7px;
}

.button {
    cursor: pointer;
    background-color: #47035d;
    font-size: 18px;
    color: white;
    padding: 7px 23px;
    border-radius: 25px;
    font-weight: bold;
    border: 2px solid white;
}

.button:hover,
.button:active {
    border: 2px red solid;
    background-color: #2b0239;
}

.app_wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding: 15px;
    width: 750px;
    height: 400px;
    margin-top: 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.25);
    border-radius: 15px;
    background-color: white;
}

.wrapper_inform {
    display: flex;
    flex-direction: column;
    padding: 20px;
    margin-top: 35px;
    width: 750px;
    min-height: 400px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.25);
    border-radius: 15px;
    background-color: white;
}

.block {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 15px;
    border-bottom: 2px solid black;
    margin: 7px 2px
}

.blocks {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 25px;
    margin: 5px 2px;
}

.title {
    font-size: 30px;
    font-weight: 900;
}

.duration {
    font-size: 25px;
}

.app_wrapper > button {
    width: 450px;
    height: 50px;
}

.name {
    font-size: 50px;
    text-shadow: 2px 3px 1px rgba(0, 0, 0, 0.4);
}

.a {
    color: white;
    font-size: 25px;
    text-decoration: none;
}

.hidden {
    /*display: none;*/
    /*visibility: hidden;*/
    opacity: 0;
}

.container_posts{
    margin: 0 auto;
    box-shadow: 0 2px 15px rgba(0, 0, 0, 0.25);
    border-radius: 15px;
    background-color: white;
    margin-top: 15px;
    transition: 0.5s all;

}
.wrapper_search{
    margin-left: 120px;
    margin-top: 18px;
}

.wrapper_search>label{
    font-size: 25px;
    color: #6b068a;
    font-weight: 700;
    margin: 0 8px;
}
.search{
    width: 250px;
    height: 25px;
    font-size: 16px;
    color: #6b068a;
}
.select{
    width: 200px;
    height: 33px;
    font-size: 16px;
    color: #6b068a;
}
.wrapper_posts {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-auto-rows: 100px;
    gap: 12px;
    padding: 28px;
    width: 85%;
    min-height: 400px;
    margin: 0 auto;
    margin-top: 20px;
}

.post {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #6b068a;
    border: 2px solid #6b068a ;
    border-radius: 10px;
}

.main_title_post {
    font-size: 20px;
    color: #6b068a;
    margin: 0 5px;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    background: #6b068a;
    color: white;
    height: 100%;
}
.container>h2{
    width: 10px;
    margin-left: 5px ;
    font-size: 30px;
}

.date_wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100px;
    border-radius: 5px;
    color: white;
    font-size: 20px;
}

.btn {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    font-size: 22px;
    min-width: 70px;
    border-radius: 7px;
    cursor: pointer;
    background: #6b068a;
    border: 2px solid black;
    color: white;
    margin-right: 7px;
    text-decoration: none;
}


.btn:hover,
.btn:active {
    border: 5px red solid;
    filter: contrast(120%);
    transform: scale(1.05);
}

.wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.25);
    border-radius: 15px;
    background-color: white;
    min-height: 350px;
    margin: 30px 65px;

}

.body_post {
    border-radius: 7px;
    border: 2px solid #6b068a;
    width: 75%;
    min-height: 200px;
    margin-top: 25px;
    text-align: center;
    font-size: 45px;
    font-weight: 400;
    color: #6b068a;
}

.title_post{
    background: #6b068a;
    margin: 0;
    color: white;
}

.comments {
    box-shadow: none;
    grid-template-rows: repeat(3, minmax(140px, auto));
    grid-auto-rows: 140px;
}
.container_comments{
    border: 2px solid #6b068a;
    border-radius: 5px;
}
.title_comment{
    display: flex;
    align-items: center;
    justify-content: center;
    background: #6b068a;
    height: 35px;
    color: white;
    font-size: 22px;
    margin: 0;

}
.email_comment{
    font-weight: 600;
    font-size: 19px;
    margin-top: 8px;
    color: #6b068a;

}
.duration_comment{
    margin-top: 7px;
    color: #6b068a;
    font-size: 18px;
}

.subtitle{
    font-size: 38px;
    font-weight: 700;
    color: white;
    text-align: center;
    margin-top: 28px;
    width: 84.5%;
    background:  #6b068a;
    border-radius: 5px;
}


.valid{
    border: 2px solid red;
}

